.section {
  margin-bottom: 30px;
  padding: 10px;
    
}
h1 {
  color: #000000;
  text-align: center;
  font-size: 2em;
}
h2 {
  color: #ffffff;
  margin-top: 10px;
  
}
body {
  font-family: 'Segoe UI', sans-serif;
  background: #fdfdfd;
  padding: 20px;
}
form {
  background-color: rgba(255, 255, 255, 0.74);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #a5a2a2;
  width: 60%;
  margin: auto;
}
h2 {
  color: #000000;
  text-align: center;
}
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  
  border-radius: 5px;
  font-size: 100%;
  
  background-color: rgb(233, 233, 233);
}
input[type="file"] {
  padding: 1px;
  color: #000000;
  background-color: rgba(5, 0, 0, 0)
  

}

button[type="submit"] {
  background: #07a12e;
  color: #ffffff;
  border: none;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  font-size: 120%;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
body {
  background-color: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(10px); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #a5a2a2;
  width: 100%;
  margin: auto;
}